/guiTut/nbproject/private/
/guiTut/build/
/Gerbil/nbproject/private/
/ExerciseTwo/nbproject/private/
/HomeworkTracker/nbproject/private/
/problem2/nbproject/private/
/appletTut/nbproject/private/
/appletTut/build/
/HW03/PR3_1/nbproject/private/